body{
	margin-top:0px;
	padding-top:0px;
	margin-left:0px;
	padding-left:0px;
	margin-right:0px;
	padding-right:0px;
}



header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.logo {
    margin-top: -30px;
    float: left;
}
header nav ul {
    display: inline;
    margin-top: 86px;
    color: hsla(0,0%,100%,1.00);
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    float: right;
    margin-right: 50px;
    font-size: x-large;
}
header nav ul li {
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
}
.hero-text {
    clear: both;
    margin-left: 150px;
    color: hsla(0,0%,100%,1.00);
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    padding-top: 35px;
}

footer{
    color: #ffffff;
    background-color:#0ac4dc;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 0;
}
.copyright{
    display: inline-block;
    margin-left: 50px;

}
.policies{

    float: right;
    margin-right:50px;
   
}
.main_body{
    background-color: #302f2f;
}
.exercise_heading{
	font-size: 50px;
	font-family: Bebas;
	color: #0ac4dc;
}
.exercise_steps{
	font-family: montserrat;
}
.exercise_images{
	float: right;
	margin-top: -250px;
	
}
.exercise_images1{
	float: right;
	margin-top: -225px;
}
.exercise_images2{
	float: right;
	margin-top: -225px;
}
.exercise_images3{
	float: right;
	margin-top: -270px;
}
.yoga{
	font-size: 120px;
	font-family: Bebas;
	color: #0ac4dc;
	float: left;
	margin-top: 300px;
	margin-right: 200px;
}